Software/DirectionFindingApp/SerialConnect/SerialConnect/obj/
Software/DirectionFindingApp/SerialConnect/SerialConnect/bin/
Software/DirectionFindingApp/SerialConnect/.vs/
Hardware/WildDivision Refurbished/Remote/ESP32-WROOM-1/.vscode/
Hardware/WildDivision Refurbished/Remote/ESP32-WROOM-1/.pio/
Hardware/WildDivision Refurbished/Rotator/ESP32C3 Super Mini/.pio/
Hardware/WildDivision Refurbished/Rotator/ESP32C3 Super Mini/.vscode/
Software/DirectionFindingApp/SerialConnect/SerialMonitor/obj/
Software/DirectionFindingApp/SerialConnect/SerialMonitor/bin/
