* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

html,
body {
  font-family: Helvetica, sans-serif !important;
  margin: 0;
  padding: 0;
}

body * {
  font-family: inherit !important;
}

.mantine-Accordion-label {
  padding: 0;
}

:root {
  --mantine-scale: 1 !important;
  --mantine-breakpoint-xs: 36em !important;
  --mantine-breakpoint-sm: 48em !important;
  --mantine-breakpoint-md: 62em !important;
  --mantine-breakpoint-lg: 75em !important;
  --mantine-breakpoint-xl: 88em !important;
  --mantine-spacing-xs: calc(0.2rem * var(--mantine-scale)) !important;
  --mantine-spacing-sm: calc(0.3rem * var(--mantine-scale)) !important;
  --mantine-spacing-md: calc(0.5rem * var(--mantine-scale)) !important;
  --mantine-spacing-lg: calc(0.625rem * var(--mantine-scale)) !important;
  --mantine-spacing-xl: calc(0.8rem * var(--mantine-scale)) !important;
  --mantine-font-size-xs: calc(0.75rem * var(--mantine-scale)) !important;
  --mantine-font-size-sm: calc(0.875rem * var(--mantine-scale)) !important;
  --mantine-font-size-md: calc(1rem * var(--mantine-scale)) !important;
  --mantine-font-size-lg: calc(1.125rem * var(--mantine-scale)) !important;
  --mantine-font-size-xl: calc(1.25rem * var(--mantine-scale)) !important;
  --mantine-line-height-xs: 1 !important;
  --mantine-line-height-sm: 1.2 !important;
  --mantine-line-height-md: 1.4 !important;
  --mantine-line-height-lg: 1.6 !important;
  --mantine-line-height-xl: 1.65 !important;
}