* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

html, body {
  font-family:  Helvetica, sans-serif !important;
  margin: 0;
  padding: 0;
}

body * {
  font-family: inherit !important;
}
