/* Офіційні кольори з брендбуку Збройних Сил України */

:root {
  /* Колір ЗСУ - "Мундир" */
  --zsu-mundyr: #4D4634;

  /* Колір ПС ЗСУ - "Грозове небо" */
  --ps-zsu-grozove-nebo: #293757;

  /* Колір ВМС ЗСУ - "Ескадра" */
  --vms-zsu-eskadra: #111224;

  /* Колір ССО ЗСУ - "Сталь" */
  --sso-zsu-stal: #707276;

  /* Колір МП ВМС ЗСУ - "Морська хвиля" */
  --mp-vms-zsu-morska-hvylya: #035C6B;

  /* Колір ДШВ ЗСУ - "Марун" */
  --dshv-zsu-marun: #671318;

  /* Колір СТрО ЗСУ - "Олива" */
  --stro-zsu-olyva: #444A38;

  /* Допоміжний колір - "Золото" */
  --zsu-zoloto: #F39200;

  /* Колір СВ ЗСУ - "Степ" */
  --sv-zsu-step: #6A653A;

  /* Національні кольори України */
  --ua-blue: #0057B7;
  --ua-yellow: #FFD700;
  --background-light: #444;
  --backgraund: #333;
  --backgraund-dark: #222;
  --background-header: #1f1f1f;
}