.app-header {
    padding: 5px 24px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    position: relative;
}

.app-header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000000;
    opacity: 0.5;
    z-index: 0;
}

.app-header>* {
    position: relative;
    z-index: 1;
}

.app-title {
    color: white;
    margin: 0;
    font-weight: 600;
    letter-spacing: -0.5px;
}

.app-subtitle {
    color: rgba(255, 255, 255, 0.8);
    margin-top: 2px;
}

.app-header svg {
    color: white;
    filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.2));
}