svg.compass {
    position: absolute;
}

.text_scale {
    font-size: 1rem;
    font-family: monospace;
    fill: #ccc;
    dominant-baseline: middle;
    text-anchor: middle;
}

.triangle_top {
    fill: #ff2600ff;
    stroke-width: 2;
    opacity: 0.5;
}

.main-shape_scale {
    fill: #333;
}

.circle_scale {
    fill: none;
    stroke: #999;
    stroke-width: 1;
}

.circle_scale_2 {
    fill: none;
    stroke: #aaa;
    stroke-width: 5;
}

.thin_scale {
    stroke: #666;
    stroke-width: 1;
}

.thick_scale {
    stroke: #aaa;
    stroke-width: 2;
}

.azimuth_rect {
    fill: #333;

    stroke-width: 1;
}

.mask_rect {
    fill: white;
}

.mask_circle {
    fill: black;
}


.text_scale {
    font-size: 1rem;
    font-family: monospace;
    fill: #ccc;
    dominant-baseline: middle;
    text-anchor: middle;
}

.text_scale_top {
    font-size: 0.7rem;
    font-family: monospace;
    fill: #ccc;
    dominant-baseline: middle;
    text-anchor: middle;
}

.main-shape_scale_angle {
    fill: #3A3A33;
}

.circle_scale {
    fill: none;
    stroke: #999;
    stroke-width: 1;
}

.thin_scale {
    stroke: #666;
    stroke-width: 1;
}

.thick_scale {
    stroke: #aaa;
    stroke-width: 2;
}

.angle_rect {
    fill: #3A3A33;
    stroke-width: 1;
}

.angle_text {
    font-family: monospace;
    font-size: 12px;
    fill: #ccc;
    text-anchor: middle;
    dominant-baseline: middle;
}

.mask_rect {
    fill: white;
}

.mask_circle {
    fill: black;
}